<div class="main-right col-md-10 col-xs-9">
<p>
	CHƯƠNG TRÌNH ƯU ĐÃI DÀNH CHO KHÁCH HÀNG
Đại lý phân phối Mercedes-Benz chính hãng tại Việt Nam
Chiết khấu tiền mặt lên đến 2% theo giá trị của con xe (tùy theo từng phiên bản)- Gặp mặt hoặc liên hệ để có chiết khấu tốt nhất!!
Quà tặng kèm theo: Tặng bao da tay lái, bình chữa cháy, gối tựa đầu, nón, dù, áo trùm xe, nước hoa, túi đừng hồ sơ
* Lưu ý: Ngoài ra Anh/Chị có thể được nhận thêm gói bảo hiểm vật chất, phim cách nhiệt khi gặp mặt hoặc liên hệ với chúng tôi qua điện thoại
Nhận xe ngay chỉ với 20% giá trị con xe (Trong đó bao gồm: chi phí trước bạ 12%, phí biển số, phí đăng kiểm, phí đăng ký xe, BHTNDS, phí đường bộ, phí dịch vụ)
Ngân hàng hỗ trợ vay đến 80% - Giải quyết cho Anh/Chị tất cả các hồ sơ nợ sấu nhanh nhất
Thời gian vay mua xe trả góp đến 9 năm - Không cần chứng minh thu nhập, không cần thế chấp tài sản
Hồ sơ vay sẽ được ngân hàng giải ngân trong 48h cho Anh/Chị
Hỗ trợ hồ sơ đăng ký, đăng kiểm, ra biển số đẹp cho Anh/Chị trong 48h
Hỗ trợ cứu hộ xe trong 1 năm cho Anh/Chị mua xe
Giao xe, lái thử xe tận nhà cho Anh/Chị
Đánh giá xe đã qua sử dụng miễn phí cho Anh/Chị
Hỗ trợ kỹ thuật 24/7 - Sắp lịch bảo dưỡng xe qua điện thoại cho Anh/Chị
</p>
</div>